# check basic functionality 
TEST_NO_QUOTES=Parser
TEST_SPACES    =     "1.0"
    TEST_QUOTES='test'

# check boolean values
TEST_TRUE=true
TEST_FALSE=false

# check nullable values
TEST_NULL =null
TEST_EMPTY =

# check numeric values
TEST_FLOAT= 1500.223
TEST_INT= 123

# check comments
TEST_COMMENT_1 = test#test comment
TEST_COMMENT_2 = "test#test"
TEST_COMMENT_3 = 'some text'        # test  # comment

# check variables
TEST_VAR="${TEST_QUOTES}/${TEST_NO_QUOTES}"
TEST_DEFAULT_VAL="${UNKNOWN:=test} or some text like ${TEST_NO_QUOTES}"
